In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('secondary_data_no_miss.csv', sep = ';')

In [3]:
data.head()

,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,stem-height,stem-width,stem-color,has-ring,ring-type,habitat,season
0,e,1.26,x,g,y,f,d,c,w,5.04,1.73,y,f,f,d,a
1,e,10.32,f,e,b,f,a,c,b,4.68,19.44,w,t,f,d,a
2,p,0.92,x,g,p,f,a,c,p,4.59,1.15,k,f,f,d,u
3,p,4.27,x,t,p,f,x,c,w,4.55,6.52,w,f,f,d,a
4,e,3.08,f,s,w,f,d,d,w,2.67,5.18,w,f,f,m,a

In [4]:
# replace all letters with actual value

data = data.replace(
    {
    'class': {'p': 'poisonous', 'e': 'edible'},
    'cap-shape': {'b': 'bell', 'c': 'conical', 'x': 'convex', 'f': 'flat', 's': 'sunken', 'p': 'spherical', 'o': 'others'},
    'cap-surface': {'i': 'fibrous', 'g': 'grooves', 'y': 'scaly', 's': 'smooth', 'h': 'shiny', 'l': 'leathery', 'k': 'silky', 't': 'sticky', 'w': 'wrinkled', 'e': 'fleshy'},
    'cap-color': {'n': 'brown', 'b': 'buff', 'g': 'gray', 'r': 'green', 'p': 'pink', 'u': 'purple', 'e': 'red', 'w': 'white', 'y': 'yellow', 'l': 'blue', 'o': 'orange', 'k': 'black'},
    'gill-attachment': {'a': 'adnate', 'x': 'adnexed', 'd': 'decurrent', 'e': 'free', 's': 'sinuate', 'p': 'pores', 'f': 'none', '?': 'unknown'},
    'gill-spacing': {'c': 'close', 'd': 'distant', 'f': 'none'},
    'gill-color': {'n': 'brown', 'b': 'buff', 'g': 'gray', 'r': 'green', 'p': 'pink', 'u': 'purple', 'e': 'red', 'w': 'white', 'y': 'yellow', 'l': 'blue', 'o': 'orange', 'k': 'black', 'f': 'none'},
    'stem-color': {'n': 'brown', 'b': 'buff', 'g': 'gray', 'r': 'green', 'p': 'pink', 'u': 'purple', 'e': 'red', 'w': 'white', 'y': 'yellow', 'l': 'blue', 'o': 'orange', 'k': 'black', 'f': 'none'},
    'ring-type': {'c': 'cobwebby', 'e': 'evanescent', 'r': 'flaring', 'g': 'grooved', 'l': 'large', 'p': 'pendant', 's': 'sheathing', 'z': 'zone', 'y': 'scaly', 'm': 'movable', 'f': 'none', '?': 'unknown'},
    'habitat': {'g': 'grasses', 'l': 'leaves', 'm': 'meadows', 'p': 'paths', 'h': 'heaths', 'u': 'urban', 'w': 'waste', 'd': 'woods'},
    'season': {'s': 'spring', 'u': 'summer', 'a': 'autumn', 'w': 'winter'}
    })

# convert t/f columns to boolean.
data['does-bruise-or-bleed'] = data['does-bruise-or-bleed']=='t'
data['has-ring'] = data['has-ring']=='t'

In [5]:
data.head()

,class,cap-diameter,cap-shape,cap-surface,cap-color,does-bruise-or-bleed,gill-attachment,gill-spacing,gill-color,stem-height,stem-width,stem-color,has-ring,ring-type,habitat,season
0,edible,1.26,convex,grooves,yellow,False,decurrent,close,white,5.04,1.73,yellow,False,none,woods,autumn
1,edible,10.32,flat,fleshy,buff,False,adnate,close,buff,4.68,19.44,white,True,none,woods,autumn
2,poisonous,0.92,convex,grooves,pink,False,adnate,close,pink,4.59,1.15,black,False,none,woods,summer
3,poisonous,4.27,convex,sticky,pink,False,adnexed,close,white,4.55,6.52,white,False,none,woods,autumn
4,edible,3.08,flat,smooth,white,False,decurrent,distant,white,2.67,5.18,white,False,none,meadows,autumn

In [6]:
class_df = data['class'].value_counts()
class_df = pd.DataFrame(class_df)
class_df

           class
poisonous  33888
edible     27181

In [7]:
cap_shape_df = data['cap-shape'].value_counts()
cap_shape_df = pd.DataFrame(cap_shape_df)
cap_shape_df

           cap-shape
convex         26802
flat           13492
sunken          7099
bell            5697
others          3472
spherical       2685
conical         1822

In [8]:
cap_surface_df = data['cap-surface'].value_counts()
cap_surface_df = pd.DataFrame(cap_surface_df)
cap_surface_df

          cap-surface
sticky          22253
smooth           7577
scaly            6396
shiny            5029
grooves          4740
d                4440
fleshy           2590
silky            2283
fibrous          2198
wrinkled         2151
leathery         1412

In [9]:
cap_color_df = data['cap-color'].value_counts()
cap_color_df = pd.DataFrame(cap_color_df)
cap_color_df

        cap-color
brown       24438
yellow       8487
white        7592
gray         4363
red          4027
orange       3625
green        1804
purple       1783
pink         1652
buff         1258
black        1223
blue          817

In [10]:
bruise_bleed_df = data['does-bruise-or-bleed'].value_counts()
bruise_bleed_df = pd.DataFrame(bruise_bleed_df)
bruise_bleed_df

       does-bruise-or-bleed
False                 50479
True                  10590

In [11]:
gill_attachment_df = data['gill-attachment'].value_counts()
gill_attachment_df = pd.DataFrame(gill_attachment_df)
gill_attachment_df

           gill-attachment
adnate               22560
decurrent            10269
adnexed               7413
pores                 6001
sinuate               5648
free                  5648
none                  3530

In [12]:
gill_spacing_df = data['gill-spacing'].value_counts()
gill_spacing_df = pd.DataFrame(gill_spacing_df)
gill_spacing_df

         gill-spacing
close           49773
distant          7766
none             3530

In [13]:
gill_color_df = data['gill-color'].value_counts()
gill_color_df = pd.DataFrame(gill_color_df)
gill_color_df

        gill-color
white        18617
brown         9770
yellow        9419
pink          6023
gray          4087
none          3530
orange        2924
black         2355
green         1385
red           1013
purple        1012
buff           934

In [14]:
stem_color_df = data['stem-color'].value_counts()
stem_color_df = pd.DataFrame(stem_color_df)
stem_color_df

        stem-color
white        22943
brown        18079
yellow        7788
gray          2656
orange        2221
red           2039
purple        1488
none          1059
pink          1034
black          831
green          532
blue           239
buff           160

In [15]:
has_ring_df = data['has-ring'].value_counts()
has_ring_df = pd.DataFrame(has_ring_df)
has_ring_df

       has-ring
False     45890
True      15179

In [16]:
ring_type_df = data['ring-type'].value_counts()
ring_type_df = pd.DataFrame(ring_type_df)
ring_type_df

            ring-type
none            50832
evanescent       2468
zone             2118
flaring          1425
large            1404
grooved          1239
pendant          1230
movable           353

In [17]:
habitat_df = data['habitat'].value_counts()
habitat_df = pd.DataFrame(habitat_df)
habitat_df

         habitat
woods      44348
grasses     7825
leaves      3117
meadows     2972
heaths      1963
waste        353
paths        350
urban        141

In [18]:
season_df = data['season'].value_counts()
season_df = pd.DataFrame(season_df)
season_df

        season
autumn   30150
summer   22857
winter    5333
spring    2729